@charset "utf-8";
@import "variables.scss";
@import "../bulma/bulma.sass";

.header {
    color: $white;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);    
    .title, .subtitle {
        color: $white;
    }
}

.card.column {
    flex: none !important;
}

.image {
    line-height: 0px;
}

ol {
    margin: 1rem 0 0 2rem;
}
